

.carousel-wrapper {
  width: 100%;
  margin: auto;
}

.slick-slide img {
  width: 100%;
  display: block;
}

/* These styles are optional and for customizing the default slick styles */
.slick-dots li button:before {
  color: #fff;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}
/* Carousel.css */

.carousel-wrapper {
  width: 50%; /* Adjust the width as needed */
  margin: auto;
}

/* Style for the carousel images */
.carousel-wrapper img {
  width: 50%; /* Make images fill the container width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}
